<div class="container mt-4 p-2 mb-4 bg-opacity-50" style="font-family: 'Bell MT' ">
  <div class="col-md-12">
    <lable for="id" class="form-label">ID</lable>
    <input type="text" class="form-control" id="id" placeholder="Enter ID" [(ngModel)]="customer.id">
  </div>
    <div class="col-md-12">
      <label for="name" class="form-label">Name</label>
      <input type="text"  class="form-control" id="name" placeholder="Enter Name Here" [(ngModel)]="customer.name">

    </div>
    <div class="col-md-12">
      <label for="birthday" class="form-label">Date Of Birth</label>
      <input type="date" class="form-control" id="birthday" [(ngModel)]="customer.dateOfBirth">

    </div>
    <div class="col-md-12">
      <label for="id_card" class="form-label">Id Card</label>
      <input type="text" class="form-control" id="id_card" placeholder="Enter ID Card Of You" [(ngModel)]="customer.idCard">
    </div>
    <div class="col-md-12">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number of you" [(ngModel)]="customer.phoneNumber">

    </div>
    <div class=" mb-3 ">
      <lable for="customerType" class="form-label">Customer Type</lable>
      <select name="categoryName" class="form-control">
        <option disabled selected>ChooseCustomer Type</option>
        <ng-container *ngFor="let typeCus of typeCustomer">
          <option [ngValue]="typeCus">{{typeCus.name}}</option>
        </ng-container>
      </select>
    </div>

    <div class="col-md-12 " id="s2" >
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter Address" [(ngModel)]="customer.address" >

    </div>

    <div class="col-12 mt-2">
      <button type="submit" class="btn btn-primary w-100" (click)="getCustomer()" data-bs-dismiss="modal" >Save</button>
    </div>
</div>
