<div class="container-fluid p-0" style="font-family: 'Bell MT'">
  <!-- Footer -->
  <footer
    class="opacity-75 text-center text-lg-start text-white"
    style="background-color: #45526e"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
            CodeGym Đà Nẵng
            </h6>
            <p>
              Công nghệ Thông tin là một ngành lớn và quan trọng của Việt Nam,
              nhưng sự thiếu hụt nhân lực cả về số lượng và chất lượng luôn là một rào cản để phát triển.

              Nhân lực là mấu chốt quan trọng nhất để thúc đẩy ngành CNTT nước nhà phát triển.
              Thấu hiểu được tình trạng đó, các nhà sáng lập của CodeGym – vốn xuất thân là các lập trình viên nhiều năm kinh nghiệm,
              giảng viên, chủ doanh nghiệp phần mềm có tâm huyết – đã quyết định xây dựng nên một mô hình đào tạo lập trình đột phá,
              giúp nâng cao hiệu quả và chất lượng đào tạo. Không chỉ đủ để đóng góp một số lượng lớn lập trình viên cho ngành,
              mà còn thông qua đó nâng cao tiêu chuẩn chất lượng của ngành.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none"/>

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Center</h6>
            <p>
              <a class="text-white">CodeGym Đà Nẵng</a>
            </p>
            <p>
              <a class="text-white">CodeGym Huế</a>
            </p>
            <p>
              <a class="text-white">CodeGym Hà Nội</a>
            </p>
            <p>
              <a class="text-white">CodeGym Sài Gòn</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none"/>

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Course
            </h6>
            <p>
              <a class="text-white">Beginer</a>
            </p>
            <p>
              <a class="text-white">Tester</a>
            </p>
            <p>
              <a class="text-white">FullStack</a>
            </p>
            <p>
              <a class="text-white">Free</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none"/>

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Personal Information</h6>
            <p><i class="fas fa-home mr-3"></i> K25/62 Nguyễn Thông</p>
            <p><i class="fas fa-envelope mr-3"></i> lyseafood282930pvd@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +84-905774661</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2020 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/"
              >MDBootstrap.com</a
              >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
              class="btn btn-outline-light d-inline-block btn-floating m-3"
              class="text-white"
              role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-outline-light d-inline-block btn-floating m-3"
              class="text-white"
              role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
              class="btn btn-outline-light d-inline-block btn-floating m-3"
              class="text-white"
              role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-outline-light d-inline-block btn-floating m-3"
              class="text-white"
              role="button"
            ><i class="fab fa-instagram"></i
            ></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->

