<div class="container w-50 mt-2 p-2 bg-dark opacity-75 text-light" style="border: 1px solid grey;font-family: 'Bell MT'; border-radius: 15px">
  <h3 align="center">Edit Form Facility</h3>
  <form class="row g-3"  >
    <div class="col-md-12">
      <label class="form-label">Loại dịch vụ</label>
      <select name="serviceType"   class="form-select" onchange="showServiceInput(this)" id="serviceSelect">
        <option>
        </option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="id" class="form-label">Facility Id</label>
      <input type="text" class="form-control" readonly id="id" required>
    </div>
    <div class="col-md-12">
      <label for="name" class="form-label">Tên dịch vụ</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="col-md-12">
      <label for="area" class="form-label">Diện tích sử dụng</label>
      <input type="text" class="form-control" id="area" required>
    </div>

    <div class="col-md-12">
      <label for="cost" class="form-label">Chi phí thuê</label>
      <input type="text" class="form-control" id="cost" required>
    </div>

    <div class="col-md-12">
      <label for="max_people" class="form-label">Số lượng người tối đa </label>
      <input type="text" class="form-control" id="max_people" required>
    </div>

    <div class="col-md-12">
      <label  class="form-label">Rent Type</label>
      <select name="rentalType"  class="form-select" required>
        <option>Choose rentType</option>
      </select>
    </div>

    <div class="col-md-12 " id="s1" style="display: none">
      <label for="standard_room" class="form-label">Tiêu chuẩn phòng </label>
      <input type="text" class="form-control" id="standard_room" >
    </div>

    <div class="col-md-12 " id="s2" style="display: none">
      <label for="description" class="form-label">Mô tả tiện nghi khác</label>
      <input type="text" class="form-control" id="description" >
    </div>

    <div class="col-md-12 " id="s3" style="display: none">
      <label for="pool_area" class="form-label">Diện tích hồ bơi  </label>
      <input type="text" class="form-control" id="pool_area">
    </div>

    <div class="col-md-12" id="s4" style="display: none">
      <label for="number_floors" class="form-label">Số tầng </label>
      <input type="text" class="form-control" id="number_floors" >
    </div>

    <div class="col-md-12 " id="s5" style="display: none">
      <label for="facility_free" class="form-label">Dịch vụ miễn phí đi kèm </label>
      <input type="text" class="form-control" id="facility_free">
    </div>

    <div class="col-12 ">
      <button type="submit" class="btn btn-primary form-control">Gửi</button>
    </div>
  </form>
</div>
<script>
  function showServiceInput(value) {
    var v = value.value;
    switch (v) {
      case 'None':
        document.getElementById("s1").style.display="none";
        document.getElementById("s2").style.display="none";
        document.getElementById("s3").style.display="none";
        document.getElementById("s4").style.display="none";
        document.getElementById("s5").style.display="none";
        break;
      case "1":
        document.getElementById("s1").style.display="block";
        document.getElementById("s2").style.display="block";
        document.getElementById("s3").style.display="block";
        document.getElementById("s4").style.display="block";
        document.getElementById("s5").style.display="none";
        break;
      case "2":
        document.getElementById("s1").style.display="block";
        document.getElementById("s2").style.display="block";
        document.getElementById("s4").style.display="block";
        document.getElementById("s5").style.display="none";
        document.getElementById("s3").style.display="none";
        break;
      case "3":
        document.getElementById("s1").style.display="none";
        document.getElementById("s2").style.display="none";
        document.getElementById("s3").style.display="none";
        document.getElementById("s4").style.display="none";
        document.getElementById("s5").style.display="block";
        break;
    }
  }
  window.onload=function (){
    if( document.getElementById("serviceSelect").value =='1'){
      document.getElementById("s1").style.display="block";
      document.getElementById("s2").style.display="block";
      document.getElementById("s3").style.display="block";
      document.getElementById("s4").style.display="block";
      document.getElementById("s5").style.display="none";
    }
    if( document.getElementById("serviceSelect").value =='2') {
      document.getElementById("s1").style.display="block";
      document.getElementById("s2").style.display="block";
      document.getElementById("s4").style.display="block";
      document.getElementById("s5").style.display="none";
      document.getElementById("s3").style.display="none";
    }
    if( document.getElementById("serviceSelect").value =='3') {
      document.getElementById("s1").style.display="none";
      document.getElementById("s2").style.display="none";
      document.getElementById("s3").style.display="none";
      document.getElementById("s4").style.display="none";
      document.getElementById("s5").style.display="block";
    }
  }
</script>
