<div class="col-md-3 mt-4 p-2 mb-4 bg-opacity-50" style="font-family: 'Bell MT'; border: 1px solid black ">
  <div class="col-md-12">
    <p for="id">ID</p>
    <input type="text" class="form-control" id="id" name="id" placeholder="Enter ID">
  </div>
  <div class="col-md-12">
    <label for="name" >Name</label>
    <input type="text"  class="form-control" name="name" id="name" placeholder="Enter Name Here">
  </div>
  <div class="col-md-12">
    <p for="birthday" >Date Of Birth</p>
    <input type="date" name="birthday" class="form-control" id="birthday" >

  </div>
  <div class="col-md-12">
    <p for="idCard" >Id Card</p>
    <input type="text" class="form-control" id="idCard" placeholder="Enter ID Card Of You" >
  </div>
  <div class="col-md-12">
    <p for="phone" >Phone Number</p>
    <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number of you">

  </div>
  <div class=" mb-3 ">
    <p for="customerType" >Customer Type</p>
    <select name="customerType" id="customerType" class="form-control">
      <option disabled selected>ChooseCustomer Type</option>
    </select>
  </div>

  <div class="col-md-12 " id="s2" >
    <p for="address" >Address</p>
    <input type="text" class="form-control" id="address" placeholder="Enter Address" >
  </div>
  <div class="col-12 mt-2">
    <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal" >Save</button>
  </div>
</div>
